.map-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5rem;
}

.img-overlay {
  position: relative;
  border-radius: 2rem;
  height: 260px;
  /* background: linear-gradient(#000000, #ffffff); */
}

.img-overlay-1 {
  position: absolute;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.map-img {
  width: 100%;
  height: 590px;
  border-radius: 2rem;
}

.person-img {
  width: 100%;
  height: 250px;
  /* height: 100%; */
  border-radius: 2rem;
  object-fit: cover;
}

.overlay-name {
  position: absolute;
  color: white;
  left: 2rem;
  bottom: 2rem;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0%;
}

.marker-img {
  width: 30px;
  height: 30px;
}

.filter-grid {
  display: grid;
  grid-template-areas: "instructions  slider slider filter";
  /* grid-template-columns: 1fr 2fr 1fr; */
  /* grid-column-gap: 2rem; */
  align-items: center;
  justify-items: center;
}

.instructions {
  width: 80%;
  grid-area: instructions;
  justify-self: start;
}

.distance-slider {
  width: 100%;
  grid-area: slider;
}

.filter-options {
  width: 80%;
  grid-area: filter;
  justify-self: flex-end;
}

.z-indexed {
  z-index: 1000;
}

.trainer-marker {
  width: 35px;
  height: 35px;
  background-size: cover;
  color: red;
  fill: orange;
  /* filter: invert(28%); */

  border-radius: 100px;
  animation: popOut 0.5s forwards ease;
}

.user-marker {
  width: 15px;
  height: 15px;
  background-size: cover;
  color: red;
  fill: orange;
  /* filter: invert(28%); */

  border-radius: 100px;
  animation: popOut 0.5s forwards ease;
}

@keyframes popOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .map-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2rem;
  }

  .map-img {
    height: 500px;
  }

  .filter-grid {
    grid-template-areas: "instructions  filter" "slider slider";
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
  }

  .instructions {
    width: 120%;
  }

  .filter-options {
    width: 80%;
  }
}
