.map-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5rem;
}

.map-img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.person-img {
  width: 100%;
  height: 250px;
  border-radius: 2rem;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0%;
}

.marker-img {
  width: 30px;
  height: 30px;
}

@media (max-width: 960px) {
  .map-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 2rem;
  }

  .map-img {
    height: 350px;
  }
}
